/*asteriscos são aplicados a toda a página*/
*{
  box-sizing: border-box;
  margin: 0;
}

html, body{
  min-height: 100vh;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

body{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000000;
  background-color: #f6f6f6;
}

/*estilos gerais dos botões*/
.btn
.btn-add,
.btn-show,
.btn-edit,
.btn-delete{
  font-family: Helvetica;
  outline: 0;
  background: #5b08a7;
  color: #000000;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  cursor: point;
}

/*
 1 rem = 16 pixels
1 em = 16 pixels
*/
input{
  outline: 0;
  background: #c9c1c1;
  width: 100%;
  border: 2px solid #f6f6f6;
  margin: 0 0 15px 15px;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  transition: all 0.3s;
  font-weight: 580;
} 

input:focus{
  border: 2px solid #00a762
}

.btn-block{

}

.btn-add,
.btn-show,
.btn-edit,
.btn-delete,
.btn-cancel{
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 5px;
}

.btn-add{
  background-color: #00a762;
}

.btn-delete{
  background-color: #b72424;
}

.btn-show{
  background-color: rgb(59,59,90);
}

.btn-cancel{
  background-color: rgb(40,40,106);
  color: #000000;
}
/*estilos da tabela*/
table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 15px;
}

th, td{
  padding: 12px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: left;
}

tbody tr:hover{
  background-color: #c9c1c1;
}

table > thead > tr > th{
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #254b26;
  color: whitesmoke;
}

table > thead > tr > th.center{
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  text-align: center;
  vertical-align: middle;
}

table > thead > tr > td.center{
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  text-align: center;
  vertical-align: middle;
}

th.actions, td.actions{
  width: 1%;
  white-space: nowrap; /*impede o botão de quebrar linha*/
  text-align: center;
  min-height: 100vh;
}

.display{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 70%;
  max-width: 100%;
  min-height: 30%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(0 0 0);
  padding:  1.25rem 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}