/*asteriscos são aplicados a toda a página*/
*{
  box-sizing: border-box;
  margin: 0;
}

html, body, #defaultLayout{
  min-height: 100vh;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

body{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000000;
  background-color: #f6f6f6;
}

/*estilos gerais dos botões*/
.btn,
.btn-add,
.btn-show,
.btn-edit,
.btn-delete{
  font-family: Helvetica;
  outline: 0;
  background: #5b08a7;
  color: #000000;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  cursor: point;
  border-radius: 0,5rem;
}

/*
 1 rem = 16 pixels
1 em = 16 pixels
*/


form-control{
  outline: 0;
  background: #c9c1c1;
  width: 100%;
  border: 2px solid #f6f6f6;
  padding: 15px;
  padding-right: 45px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 15px;
  font-weight: 580;
  color: #212529;
  margin-bottom: 20px;
} 

form-control:focus{
  border: 2px solid #19058d;
  background-image: none;
  padding-right: 40px;
  width: '100%';
}

.form-control.is-invalid{
  border-color: #dc3545;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='0 0 24 24'%3E%3Cpath d='M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0zm1 17h-2v-2h2v2zm0-4h-2V7h2v6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 20px;
  padding-right: 40px;
  width: '100%';
}

.form-control.is-valid{
  border-color: #28a745;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2328a745' viewBox='0 0 24 24'%3E%3Cpath d='M9 16.17l-3.88-3.88L4 13.41l5 5 10-10-1.41-1.41z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 20px;
  padding-right: 40px;
  width: '100%';
}

.form-control.is-valid:focus{
  border-color: purple;
  background-image: none;
}

.invalid-feedback{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #dc3545;
}

.valid-feedback{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #28a745;
}

input,
select{
  outline: 0;
  background: #c9c1c1;
  width: 100%;
  border: 2px solid #f6f6f6;
  margin: 0 0 15px 15px;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  transition: all 0.3s;
  font-weight: 580;
} 

input:focus,
select:focus{
  border: 2px solid #00a762
}

.btn-block{
  width: 100%; 
  border-radius: 15px; 
}

.btn-add,
.btn-show,
.btn-edit,
.btn-delete,
.btn-cancel{
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  border-radius: 5px;
}

.btn-add{
  background-color: #00a762;
}

.btn-delete{
  background-color: #b72424;
}

.btn-show{
  background-color: rgb(59,59,90);
}

.btn-cancel{
  background-color: rgb(40,40,106);
  color: #000000;
}

.btn-logout{
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  color:  #212121;
  transition: all 0.3s;
  border-radius: 6px;
}

.btn-logout :hover{
  background-color: rgba(0,0,0,0.1);
}

.btn:hover,
.btn:active,
.btn:focus{
  background: #136766;
}
/*estilos da tabela*/
table{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 15px;
}

th, td{
  padding: 12px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  text-align: left;
}

tbody tr:hover{
  background-color: #c9c1c1;
}

table > thead > tr > th{
  text-align: left;
  padding: 0.5rem 0.5rem;
  background-color: #254b26;
  color: whitesmoke;
}

table > thead > tr > th.center{
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  text-align: center;
  vertical-align: middle;
}

table > thead > tr > td.center{
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #efefef;
  text-align: center;
  vertical-align: middle;
}

th.actions, td.actions{
  width: 1%;
  white-space: nowrap; /*impede o botão de quebrar linha*/
  text-align: center;
  min-height: 100vh;
}

.display{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.card {
  width: 100%;
  max-width: 100%;
  min-height: 30%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgb(0 0 0);
  padding:  1.25rem 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

/* estilo para o default layout */

#defaultLayout{
  display: flex;
  padding: 0, 0;
}

#defaultLayout aside{
  width: 240px;
  padding: 1rem 1rem;
  color: white;
  background-color: #7de470a1;
  border-radius: 1rem;
}

#defaultLayout aside > a{
  display: block;
  padding: 0.75rem 1rem;
  color: #000000;
  text-decoration: none;
  border: black;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s;
}

#defaultLayout aside > a:hover{
  font-weight: bolder;
  background-color: #0aa7049f;
  border-radius: 0.75rem;
}

#defaultLayout .content{
  flex: 1;
}

#defaultLayout header{
  height: 80px;
  background-color: #84f503;
  border-radius: 0.75rem;
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#defaultLayout .header{
  font-size: 2rem;
}

#defaultLayout main{
  flex: auto;
}

/*estilo das telas de login*/

.login-signup-form{
  display:flex;
  justify-content: center;
  align-items: center;
}

.login-signup-form .form{
  width: 770px;
  margin-top: 70px;
  position: relative;
  z-index: 100;
  background-color: #d3ffd342;
  max-width: 770px;
  padding: 50px;
  border-radius: 0.75rem;
  box-shadow: 0 0 2px 0 #212121;
}

.login-signup-form .form .message{
  margin: 1rem;
  color: #000000;
  font-size: 1rem;
  text-align: center;
}

.login-signup-form .form .message a {
  color: #4528e9;
  text-decoration: none;
}

.login-signup-form .title{
  font-size: 2rem;
  text-align: center;
}

.p-20{
  margin-bottom: 20px;
}

/*Estilo do passwordinput*/
.div-pass{
  position: relative;
  width: 100%;
}

.btn-pass-show{
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 10%;
  transform: translate(-50%);
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  background-image: url('/assets/eye-open.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.btn-pass-hide{
  width: 32px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 10%;
  transform: translate(-50%);
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  background-image: url('/assets/eye-closed.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}